<div  ng-controller="toggleToMapCtrl as toMapCtrl">
    <div ng-switch="subview">
        <div ng-switch-when="main_html"><div ng-include="'templates/main.html'"></div></div>
        <div ng-switch-when="map_html"><div ng-include="'templates/main_map.html'"></div></div>
    </div>
  </div>
  
  <div class="col-md-8" id='left-section'>
    <div id="left-feed-title">친구들의 활동</div>
    <div id='left-feed' ng-controller="friendFeedCtrl as ffCtrl">
      <div ng-repeat="feed in ffCtrl.feeds">
        <div class="test">
          <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-10'>
              <div class="friend-panel">
                <div class="panel-heading" id='category-color-{{feed.category}}'></div>
                <div class='row'>
                  <div class="panel-body">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                      <div class="img-div">
                        <span id="img-in-box"> <img
									src='{{feed.profilePicture}}' id='friend-profileImg'
									class="img-circle"></span>
							</div>
							</div>
           <a href="#detailModal" data-toggle="modal" data-fno="{{feed.fno}}" class="detail-view">
							<div class="col-md-6">
							<div class="content-div">
								<p id="user-name">{{feed.name}}</p>
								<h5 id="feed-info">
									<small class="text-muted"><img
										src="images/icons/calendar.png"> {{feed.createDate}} </small> <small
										class="text-muted"><img
										src="images/icons/multiple.png">
										{{feed.stuffCount}}/{{feed.maxHeadCount}} </small> <small
										class="text-muted"><img src="images/icons/time.png">
										{{feed.dday}}</small>
								</h5>
								<hr>
      
								<div id="unfriend-content">{{feed.title}}</div>
		          
							</div>
							</div>
		          </a>
							<div class="col-md-2"></div>
						</div>
					</div>
				</div>
				</div>
				<div class='col-md-1'></div>
				</div>
				</div>
			</div>
			</div>
		</div>

	<div class="col-md-4" id='right-section'>
			<div id="right-feed-title">주변 회원들의 활동</div>
			<div id='right-feed' ng-controller="noneFriendFeedCtrl as nffCtrl">
				<div ng-repeat="nfeed in nffCtrl.nfeeds">
				<div class="test">
						<div class="nonfriend-panel">
						<div class="panel-heading" id='category-color-{{nfeed.category}}'></div>
						<div class='row'>
						<div class="panel-body">
							<div class="col-md-3">
							<div class="img-div">
								<span id="img-in-box"> <img
									src='images/{{nfeed.profileImg}}' id='nonfriend-profileImg'
									class="img-circle">
							</div>
							</div>
							<div class="col-md-9">
							<div class="content-div">
								<p id="user-name">{{nfeed.name}}</p>
								<h5 id="feed-info">
									<small class="text-muted"><img
										src="images/icons/calendar.png"> {{nfeed.createDate}} </small> <small
										class="text-muted"><img
										src="images/icons/multiple.png">
										{{nfeed.stuffCount}}/{{nfeed.maxHeadCount}} </small> <small
										class="text-muted"><img src="images/icons/time.png">
										{{nfeed.dday}}</small>
								</h5>
								<hr>
								<div id="unfriend-content">{{nfeed.content}}</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
			</div>
			</div>
		</div>
      

<!-- modal start -->
<div id="detailModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="detail-title"></h4>
        <input type="hidden" id="detail-number"/>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>닉네임</label>
            <input class="form-control" id="detail-nickname">
          </div>
          <div class="form-group">
            <label>이름</label>
            <input class="form-control" value="" id="detail-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="join-btn">참여하기</button>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>


<script type="text/javascript">
   $(document).on('click', '.detail-view', function (e) {
    getFno = $(this).attr('data-fno');
     $.getJSON('feed/detail.do', 
        {
          fno: getFno
        }, function(result) {
        //계속 쭉 해라 나머지 데이터들  
       $('#detail-title').text(result.detail.title);
       $('#detail-number').val(result.detail.fno);
     });
   });
  
  $('#join-btn').on('click', function() {
      console.log(sessionStorage.getItem('mno'));
    $.ajax('feed/friendjoin.do', {
        method: 'get',
        dataType: 'json',
        data : {
              mno: sessionStorage.getItem('mno'),
              fno:  $('#detail-number').val()
              },
        success: function(result) {
            if ( result.data === 'success' ) {
                alert('참여 성공');
              } 
          }
      });
    });
</script>