<link rel='stylesheet' href="css/main_map.css" />
<div id="mainMap">
</div>

<div id="finder-box">
  <div class="dropdown">
    <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">모두
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="a.html">남자</a></li>
      <li><a href="a.html">여자</a></li>
    </ul>
    <button type="button" class="btn btn-info btn-xs btn-on-map">취미</button>
    <button type="button" class="btn btn-info btn-xs btn-on-map">고향 </button>
    <button type="button" class="btn btn-info btn-xs btn-on-map">나이 </button>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(26);">200m</button>
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(65);">500m</button>
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(130);">1km</button>
    </div>
  </div>
</div>
  
<div id="friend-box">
  <div class="panel panel-info">
    <div class="panel-heading match-heading">
      BestMatch
    </div>
    <div class="panel-body">
      
      <img src="images/seol2.png" 
           class="img-circle match-friendimg">
       설현<br>
       50m 이내
      <button type="button" class="btn btn-info btn-xs addfriend-btn">
        친구 추가
      </button>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-body">
      <span id="img-in-box">
      <img src="images/hangain.jpg" 
           class="img-circle match-friendimg"></span>
      한가인<br>
      200m 이내
        <button type="button" class="btn btn-info btn-xs addfriend-btn">
          친구 추가
        </button>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-body">
      <span id="img-in-box">
      <img src="images/kianu.jpeg" 
           class="img-circle match-friendimg"></span>
      키아누리브쑤<br>
      500m 이내
      <button type="button" class="btn btn-info btn-xs addfriend-btn">
        친구 추가
      </button>
    </div>
  </div>
</div>
  

    <div id="myInfoWindow" hidden="true">
      <div id="iw-container">
        <div class="iw-title">송문혁</div>
        <div class="iw-content">
            <div class="iw-subTitle">
             <img src="images/myPhoto.png" class="img-circle">
            </div>
            <div class="iw-subTitle">
              <input type="txt" class="form-control input-sm" id="myInfoTitle" placeholder="음악 같이 들어요~">
            </div>
        </div>
      </div>
    </div>

    <div id="friendInfoWindow" hidden="true">
      <div id="iw-container">
        <div class="iw-title">설현</div>
        <div class="iw-content">
            <div class="iw-subTitle">
             <img src="images/seol2.png" class="img-circle">
            </div>
            <div class="iw-subTitle">
              <input type="txt" class="form-control" id="myInfoTitle" placeholder="심쿵해">
            </div>
            <div class="iw-subTitle">
             <button type="submit" class="btn btn-info btn-sm btn-block">프로필 보기</button>
           </div>
           <div class="iw-subTitle">
             <button type="submit" class="btn btn-info btn-sm btn-block">메시지 보내기</button>
           </div>
        </div>
      </div>
    </div>

    <div id="notFriendInfoWindow" hidden="true">
      <div id="iw-container">
        <div class="iw-title">...</div>
        <div class="iw-content">
            <div class="iw-subTitle">
             <img src="images/notFriend.png" class="img-circle">
            </div>
            <div class="iw-subTitle">
              <input type="txt" class="form-control" id="myInfoTitle" placeholder="친구가 되시면 보입니다. 친구 신청을 해보세요.">
            </div>
            <div class="iw-subTitle">
             <button type="submit" class="btn btn-info btn-sm btn-block">친구 신청</button>
           </div>
        </div>
      </div>
    </div>

<script>
  var notFriendLocArr =[];
  var friendLocArr = [];
  //json형식으로 받아온 데이터를 뿌려줌
  (function() {
  $.getJSON('member/getMembers.do', function(results) {
    console.log(results.data);
     for (var i = 0 ; i < results.data.length; i ++) {
       var tempArr = [results.data[i].nickname, Number(results.data[i].latitude), Number(results.data[i].longitude)];
        notFriendLocArr.push(tempArr);
     }
    console.log(notFriendLocArr);
    
  });
  })();
  var myLoc = [37.497943, 127.027622];
  
  /* var hiddenInfoWindow = $('#friendLocArr')[0].innerHTML;
  var arr = hiddenInfoWindow.split('/');
  console.log(arr[0]);
  
  var friendLocArr = [];
  for (var i = 0; i < arr.length; i++) {
    friendLocArr[i] = arr[i].split(',');
    friendLocArr[i][1] = parseFloat(friendLocArr[i][1]);
    friendLocArr[i][2] = parseFloat(friendLocArr[i][2]);
  };
  console.log(friendLocArr[0]); */
  var friendMarkers = new Array; /*팝업창 띄울 때의 마커들 */
  var notFriendMarkers = new Array; /* 팝업창 띄울 때의 마커들 */
  var notFriendLocArr = [ /* 주변 회원들의 배열 */
    ['notFriend0', 37.496629, 127.027622],
    ['notFriend1', 37.495508, 127.026845],
    ['notFriend2', 37.497248, 127.026352],
    ['notFriend3', 37.499380, 127.027244],
    ['notFriend4', 37.497624, 127.028219]
  ];
  var friendMarkers = new Array; <!-- 팝업창 띄울 때의 마커들 -->
  var notFriendMarkers = new Array; <!-- 팝업창 띄울 때의 마커들  -->
//  var notFriendLocArr = [ <!-- 주변 회원들의 배열 -->
//    ['notFriend0', 37.496629, 127.027622],
//    ['notFriend1', 37.495508, 127.026845],
//    ['notFriend2', 37.497248, 127.026352],
//    ['notFriend3', 37.499380, 127.027244],
//    ['notFriend4', 37.497624, 127.028219]
//  ];
  
  var map;
  var circle;
  var friendWindow; /* 친구들 팝업창 */
  var notFriendWindow; /* 회원들 팝업창 */
    
  var myInfoWindow = $('#myInfoWindow');
  var myBalloon = myInfoWindow[0].innerHTML;
  
  var friendInfoWindow = $('#friendInfoWindow');
  var friendBalloon = friendInfoWindow[0].innerHTML;
  
  var notFriendInfoWindow = $('#notFriendInfoWindow');
  var notFriendBalloon = notFriendInfoWindow[0].innerHTML;
  
  var radius = { /* 반경 보여줄 지점 */
	  gangnamStation: {
	    center: {lat: myLoc[0], lng: myLoc[1]}, /* 반경의 중심 */ 
	    population: 26 /* 반경 설정 200m: 26, 500m: 65, 1km: 130 */ 
	  }
	};
  
  function initMap() {
    map = new google.maps.Map(document.getElementById('mainMap'), {
      zoom: 17,
      /* 처음 화면을 보여주는 위도, 경도 */
      center: {
        lat: myLoc[0], 
        lng: myLoc[1]
      },
      disableDefaultUI: true, /* DEFAULT UI 사용*/
      panControl: false,
      zoomControl: false,
      scaleControl: false /* 척도 */
    });
    myWindow = new google.maps.InfoWindow({ /* 팝업창 생성 */
      content: myBalloon
    });
    friendWindow = new google.maps.InfoWindow({ /* 팝업창 생성 */
      content: friendBalloon
    });
    notFriendWindow = new google.maps.InfoWindow({ /* 팝업창 생성 */
      content: notFriendBalloon
    });
    markMyLoc();
    for (var i = 0; i < friendLocArr.length; i++) {
      markFriends(i); /* 친구 마킹 */
    }
    for (var i = 0; i < notFriendLocArr.length; i++) {
      markNotFriends(i); /* 주변 회원 마킹 */
    }
    markCircle(); /* 반경 렌더링 */
    
    google.maps.event.addListener(myWindow, 'domready', function() {
      var iwOuter = $('.gm-style-iw');
      var iwBackground = iwOuter.prev();
      iwBackground.children(':nth-child(2)').css({'display' : 'none'});
      iwBackground.children(':nth-child(4)').css({'display' : 'none'});
      iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index' : '1'});
      var iwCloseBtn = iwOuter.next();
      iwCloseBtn.css({opacity: '1', right: '28px', top: '16px', border: '0px solid #48b5e9', 'border-radius': '4px'});
      iwCloseBtn.mouseout(function(){
        $(this).css({opacity: '1'});
      });
    });
    
    google.maps.event.addListener(friendWindow, 'domready', function() {
      var iwOuter = $('.gm-style-iw');
      var iwBackground = iwOuter.prev();
      iwBackground.children(':nth-child(2)').css({'display' : 'none'});
      iwBackground.children(':nth-child(4)').css({'display' : 'none'});
      iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index' : '1'});
      var iwCloseBtn = iwOuter.next();
      iwCloseBtn.css({opacity: '1', right: '28px', top: '16px', border: '0px solid #48b5e9', 'border-radius': '4px'});
      iwCloseBtn.mouseout(function(){
        $(this).css({opacity: '1'});
      });
    });
    
    google.maps.event.addListener(notFriendWindow, 'domready', function() {
      var iwOuter = $('.gm-style-iw');
      var iwBackground = iwOuter.prev();
      iwBackground.children(':nth-child(2)').css({'display' : 'none'});
      iwBackground.children(':nth-child(4)').css({'display' : 'none'});
      iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index' : '1'});
      var iwCloseBtn = iwOuter.next();
      iwCloseBtn.css({opacity: '1', right: '28px', top: '16px', border: '0px solid #48b5e9', 'border-radius': '4px'});
      iwCloseBtn.mouseout(function(){
        $(this).css({opacity: '1'});
      });
    });
  }
  
  function markMyLoc () {
    var marker = new google.maps.Marker({
      position: {
          lat: myLoc[0],
          lng: myLoc[1]
        },
      map: map,
      icon: 'images/icons/myHome.png'
    });
    marker.addListener('click', function() {
        myWindow.open(map, marker);
      });
  }
  
  function markFriends(i) { 
    var friendLoc = friendLocArr[i];
    window.setTimeout(function() {
      friendMarkers.push(new google.maps.Marker({
        title: friendLoc[0],
        position: {
          lat: friendLoc[1],
          lng: friendLoc[2]
        },
        map: map,
        animation: google.maps.Animation.DROP,
        icon: 'images/icons/friendHome.png'
      }));
      friendMarkers[i].addListener('click', function() {
        friendWindow.open(map, friendMarkers[i]);
      });
    }, i * 100);
  }

  function markNotFriends(i) { 
    var notFriendLoc = notFriendLocArr[i];
    window.setTimeout(function() {
      notFriendMarkers.push(new google.maps.Marker({
        title: notFriendLoc[0],
        position: {
          lat: notFriendLoc[1],
          lng: notFriendLoc[2]
        },
        map: map,
        animation: google.maps.Animation.DROP,
        icon: 'images/icons/pin.png'
      }));
      notFriendMarkers[i].addListener('click', function() {
        notFriendWindow.open(map, notFriendMarkers[i]);
      });
    }, i * 100);
  }

function markCircle() {
    for (var city in radius) {
      circle = new google.maps.Circle({ 
        strokeColor: '#000', /* 반경 렌더링 보더 색*/
        strokeOpacity: 0.4,
        strokeWeight: 1,
        fillColor: '#FFFFFF', /* 반경 렌더링 채움 색 */
        fillOpacity: 0.25,
        map: map,
        center: radius[city].center,
        radius: Math.sqrt(radius[city].population) * 100
      });
    }
  }
  
function radiusDistance(m) { /* 반경 렌더링 거리 조정 함수 */
  radius = { /* 반경 보여줄때의 변수 */
  gangnamStation: {
    /* 반경의 중심 */
    center: {
            lat: myLoc[0], 
            lng: myLoc[1]
           }, 
    population: m /* 반경 설정 200m: 26, 500m: 65, 1km: 130 */
  }
  };
  circle.setMap(null);
  markCircle();
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg8yCYeg20PYuZR6w_hjMzkmeYfK_F9E4&callback=initMap" async defer></script>

<script type="text/javascript">
	(function() {
	   $.getJSON('member/userInfo.do', {
	          nickname: sessionStorage.getItem('nickname')
	        }, function (result) {
	        });
	})();
  
</script>
