<link rel='stylesheet' href="css/main_map.css" />
<div id="mainMap">
  <!-- infoModal에 있는 구글맵 id가 map이라 mainMap으로 명명-->
</div>

<div id="finder-box">
  <div class="dropdown">
    <button class="btn btn-info btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">모두
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">남자</a></li>
      <li><a href="#">여자</a></li>
    </ul>
    <button type="button" class="btn btn-info btn-xs btn-on-map">취미</button>
    <button type="button" class="btn btn-info btn-xs btn-on-map">고향 </button>
    <button type="button" class="btn btn-info btn-xs btn-on-map">나이 </button>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(26);">200m</button>
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(65);">500m</button>
      <button type="button" class="btn btn-info btn-xs" onclick="radiusDistance(130);">1km</button>
    </div>
  </div>
</div>

<div id="friend-box">
</div>

<script>
  //json형식으로 받아온 데이터를 뿌려줌
  var myLoc = [];
  var myNickname,
    myIntro,
    myPhoto;
  (function() {
    $.getJSON('member/getMyLoc.do', {
      mno: sessionStorage.getItem('mno')
    }, function(results) {
      myLoc[0] = parseFloat((results.data[0].latitude));
      myLoc[1] = parseFloat((results.data[0].longitude));
      myLoc[2] = Number(results.data[0].mno);
      myNickname = results.data[0].nickname;
      myIntro = results.data[0].introduction;
      myPhoto = results.data[0].profilePicture;
      console.log("나의 위치(" + myNickname + ") - lat: " + myLoc[0] + " lon: " + myLoc[1]);
    });
  })();


  var friendLocArr = [];
  (function() {
    $.getJSON('member/getFriends.do', {
      frdno: sessionStorage.getItem('mno')
    }, function(results) {
      for (var i = 0; i < results.data.length; i++) {
        var tempArr = [
          results.data[i].nickname,
          Number(results.data[i].latitude),
          Number(results.data[i].longitude),
          results.data[i].introduction,
          results.data[i].profilePicture
        ];
        friendLocArr.push(tempArr);
        console.log("친구" + i + ": " + friendLocArr[i]);
      }
    });
  })();

  var notFriendLocArr = [];
  (function() {
    $.getJSON('member/getMembers.do', {
      mno: sessionStorage.getItem('mno')
    }, function(results) {
      console.log(results.data.length);
      for (var i = 0; i < results.data.length; i++) {
        var tempArr = [
          results.data[i].nickname,
          Number(results.data[i].latitude),
          Number(results.data[i].longitude),
          results.data[i].introduction,
          results.data[i].profilePicture
        ];
        notFriendLocArr.push(tempArr);
        console.log("주변회원" + i + ": " + notFriendLocArr[i]);

        $('#friend-box').append('<div class="panel panel-info">' +
          '<div class="panel-heading match-heading">' +
          "BestMatch" +
          '</div>' +
          '<div class="panel-body">' +
          '<img src="' + results.data[i].profilePicture +'" class="img-circle match-friendimg">' +
          results.data[i].nickname + '<br>' +
          Number(results.distance[i]) + 
          "m 이내" +
          '<button type="button" class="btn btn-info btn-xs addfriend-btn" mno-data = "' + results.data[i].mno +'">' +
           "친구 추가" +
          '</button>' +
          '</div>' +
          '</div>');

      }
    });
  })();

  var friendMarkers = []; /*팝업창 띄울 때의 마커들 */
  var notFriendMarkers = []; /* 팝업창 띄울 때의 마커들  */

  var map;
  var circle;
  var friendWindow = []; /* 친구들 팝업창 */
  var notFriendWindow = []; /* 회원들 팝업창 */

  //  var myInfoWindow = $('#myInfoWindow');
  //  var myBalloon = myInfoWindow[0].innerHTML;
  //  console.log(myBalloon);


  function initMap() {
    var radius = { /* 반경 보여줄 지점 */
      radiusCenter: {
        center: {
          lat: myLoc[0],
          lng: myLoc[1]
        },
        /* 반경의 중심 */
        population: 26 /* 반경 설정 200m: 26, 500m: 65, 1km: 130 */
      }
    };
    map = new google.maps.Map(document.getElementById('mainMap'), {
      zoom: 17,
      /* 처음 화면을 보여주는 위도, 경도 */
      center: {
        lat: myLoc[0],
        lng: myLoc[1]
      },
      disableDefaultUI: true,
      /* DEFAULT UI 사용*/
      panControl: false,
      zoomControl: false,
      scaleControl: false /* 척도 */
    });


    //info 윈도우 CSS 정의
    function infoWindowsCSS() {
      var iwOuter = $('.gm-style-iw');
      var iwBackground = iwOuter.prev();
      iwBackground.children(':nth-child(2)').css({
        'display': 'none'
      });
      iwBackground.children(':nth-child(4)').css({
        'display': 'none'
      });
      iwBackground.children(':nth-child(3)').find('div').children().css({
        'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px',
        'z-index': '1'
      });
      var iwCloseBtn = iwOuter.next();
      iwCloseBtn.css({
        opacity: '1',
        right: '28px',
        top: '16px',
        border: '0px solid #48b5e9',
        'border-radius': '4px'
      });
      iwCloseBtn.mouseout(function() {
        $(this).css({
          opacity: '1'
        });
      });
    }

    markMyLoc();
    for (var i = 0; i < friendLocArr.length; i++) {
      markFriends(i); /* 친구 마킹 */
    }
    for (var i = 0; i < notFriendLocArr.length; i++) {
      markNotFriends(i); /* 주변 회원 마킹 */
    }
    markCircle(); /* 반경 렌더링 */


    myWindow = new google.maps.InfoWindow({ /* 팝업창 생성 */
      content: "<div id='iw-container'>" +
        "<div class='iw-title'>" + myNickname + "</div>" +
        "<div class='iw-content'>" +
        "<div class='iw-subTitle'>" +
        "<img src=" + myPhoto + " class='img-circle iw-img'>" +
        "</div>" +
        "<div class='iw-subTitle'>" +
        "<textarea class='form-control' rows='2'>" + myIntro + "</textarea>" +
        "</div>" +
        "</div>" +
        "</div>"

    });

    for (var i = 0; i < friendLocArr.length; i++) {
      friendWindow[i] = new google.maps.InfoWindow({ /* 팝업창 생성 */
        content: "<div id='iw-container'>" +
          "<div class='iw-title'>" + friendLocArr[i][0] + "</div>" +
          "<div class='iw-content'>" +
          "<div class='iw-subTitle'>" +
          "<img src=" + friendLocArr[i][4] + " class='img-circle iw-img'>" +
          "</div>" +
          "<div class='iw-subTitle'>" +
          "<input type='txt' class='form-control input-xs' value=" + friendLocArr[i][3] + ">" +
          "</div>" +
          "</div>" +
          "</div>"
      });

      google.maps.event.addListener(friendWindow[i], 'domready', function() {
        infoWindowsCSS();
      });
    }

    for (var i = 0; i < notFriendLocArr.length; i++) {
      notFriendWindow[i] = new google.maps.InfoWindow({ /* 팝업창 생성 */
        content: "<div id='iw-container'>" +
          "<div class='iw-title'>" + notFriendLocArr[i][0] + "</div>" +
          "<div class='iw-content'>" +
          "<div class='iw-subTitle'>" +
          "<img src=" + notFriendLocArr[i][4] + " class='img-circle iw-img'>" +
          "</div>" +
          "<div class='iw-subTitle'>" +
          "<input type='txt' class='form-control input-xs' value=" + notFriendLocArr[i][3] + ">" +
          "</div>" +
          "</div>" +
          "</div>"
      });

      google.maps.event.addListener(notFriendWindow[i], 'domready', function() {
        infoWindowsCSS();
      });
    }

    google.maps.event.addListener(myWindow, 'domready', function() {
      infoWindowsCSS();
    });


    function markMyLoc() {
      var marker = new google.maps.Marker({
        position: {
          lat: myLoc[0],
          lng: myLoc[1]
        },
        map: map,
        icon: 'images/icons/myHome.png'
      });
      marker.addListener('click', function() {
        myWindow.open(map, marker);
      });
    }

    function markFriends(i) {
      var friendLoc = friendLocArr[i];
      //    window.setTimeout(function() {
      friendMarkers.push(new google.maps.Marker({
        title: friendLoc[0],
        position: {
          lat: friendLoc[1],
          lng: friendLoc[2]
        },
        map: map,
        animation: google.maps.Animation.DROP,
        icon: 'images/icons/friendHome.png'
      }));
      friendMarkers[i].addListener('click', function() {
        friendWindow[i].open(map, friendMarkers[i]);
      });
    }

    function markNotFriends(i) {
      var notFriendLoc = notFriendLocArr[i];
      notFriendMarkers.push(new google.maps.Marker({
        title: notFriendLoc[0],
        position: {
          lat: notFriendLoc[1],
          lng: notFriendLoc[2]
        },
        map: map,
        animation: google.maps.Animation.DROP,
        icon: 'images/icons/pin.png'
      }));
      notFriendMarkers[i].addListener('click', function() {
        notFriendWindow[i].open(map, notFriendMarkers[i]);
      });
      //    }, i * 100);
    }

    function markCircle() {
      for (var city in radius) {
        circle = new google.maps.Circle({
          strokeColor: '#000',
          /* 반경 렌더링 보더 색*/
          strokeOpacity: 0.4,
          strokeWeight: 1,
          fillColor: '#FFFFFF',
          /* 반경 렌더링 채움 색 */
          fillOpacity: 0.25,
          map: map,
          center: radius[city].center,
          radius: Math.sqrt(radius[city].population) * 100
        });
      }
    }

    function radiusDistance(m) { /* 반경 렌더링 거리 조정 함수 */
      radius = { /* 반경 보여줄때의 변수 */
        radiusCenter: {
          /* 반경의 중심 */
          center: {
            lat: myLoc[0],
            lng: myLoc[1]
          },
          population: m /* 반경 설정 200m: 26, 500m: 65, 1km: 130 */
        }
      };
      circle.setMap(null);
      markCircle();
    }
  }

  $(document).on('click','.addfriend-btn', function() {
    console.log('ahahah');
      var parent = this;
    $.ajax('frd/insert.do', {
        method: 'post',
        dataType: 'json',
        data: {
            frdmno: $(parent).attr('mno-data'),
            mno: sessionStorage.getItem('mno')
        },
      success: function(result) {
          alert('친구 요청을 보냈습니다.');
      }
    });
    
    
  });
  
  
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg8yCYeg20PYuZR6w_hjMzkmeYfK_F9E4&callback=initMap" async defer></script>
