<div ng-controller="activityCtrl as MCtrl" resize>
<div id='moim-Img' >
   <div class="span6 col-sm-6  editorial-moim-container">
      <div class="editorial-cell">
         <h1 class="editorial-title">내 모든 활동들을 볼수 있습니다</h1>
         <p class="editorial-para">친구들의 도움을 주고 받거나 모임을 만들고 싶으면 새 활동을 만들어
            보세요</p>
         <br>
         <div id="map-link-div">
            <div class="btn  btn-ms map-btn"
               data-target="#layerpop" data-toggle="modal">새 활동 만들기</div>
         </div>
      </div>
   </div>
</div>   
    <div id='activity-container'>
    <div ng-repeat="myact in activities" class='myActList' on-last-repeat> 
        <div class='my-{{myact.opacity}} act-feed-content item backgroud-color-{{myact.category}}'>
        <div class='moim-section' role='button' ng-click='sizeUp($index,myActHide($index,myact),myact.fno)'>
          <div class='act-feed-header'>
            <div class='act-feed-prof-img'>
              <img class='moim-profile-img img-circle' src='{{myact.profilePicture}}'>
            </div>
            <div class='act-feed-title'>
              <div class='moim-title-font'><img src="images/icons/nanum.png">&nbsp;{{myact.title}}</div>
                              <div class="moim-title-info-LSH">
                                <img src="images/icons/calendar.png" class="moim-icon-align">&nbsp;{{myact.meetDday}}&nbsp;
                                <img src="images/icons/time.png" class="moim-icon-align">&nbsp;{{myact.dday}}&nbsp;
                                <div class='act-joinfrd-section'>
                      <div class='joined-frd-none' ng-if='myact.joinfrd[0] == null'>
                                  <img src="images/icons/multiple.png" class="moim-icon-align">({{myact.currentCount}}/{{myact.maxHeadCount}})
                                </div>
                                <div class="joined-frd-exist" ng-if='myact.joinfrd[0] != null'>
                                  <img src="images/icons/multiple.png" class="moim-icon-align">({{myact.currentCount}}/{{myact.maxHeadCount}})
                                  <img class='img-circle joined-frd-picture' ng-repeat-start='pic in myact.joinfrd' src='{{pic.profilePicture}}'>
                                <span ng-repeat-end ng-if='$index==4'/>
                              </div>
                              </div>
                            </div>
            </div>
          </div>
        </div>
        
        <div class='moim-hide-section'> 
          <div class="moim-attachPics" data-toggle='modal' role='button' href='#picturemodal' ng-click='slidePicture(myact.fno)'>
                <img src="{{myact.attachFile1}}" class="act-feed-img">
                <img src="{{myact.attachFile2}}" class="act-feed-img">
                <img src="{{myact.attachFile3}}" class="act-feed-img">
            </div>
        </div>
                <div ng-show='myActHide($index)'>
                  <pre class='act-content'>{{myact.content}}</pre>
                  <div ng-repeat="comment in comments">
                    <div class='comment-userFeed'>
                      <div ng-hide='commentArea(comment.cno)' id='commentarea{{comment.cno}}' class="comment-userContent">
                        <img  src='{{comment.profilePicture}}' class='detailImg comment-proPic img-circle'/><span class="comment-bg">{{comment.content}}</span>
                        <div ng-show='updateArea(comment.cno)'>
                          <textarea ng-model='rewriteComment' class='commentInputArea'>{{comment.content}}</textarea>
                          <button ng-click='updateCmt($index,comment.cno,comment.fno,rewriteComment)' class='comment-updatebtn'>등록</button>
                          <button ng-click='cancelBtn($index,comment.cno)' class='comment-updatebtn'>취소</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>  
        </div>
        <picture-modal></picture-modal>
      </div>
<act-modal></act-modal>

                                  
                                  
<!--
                                  <table class='commentTable'>
                          <tr><td><span class="comment-nickName">{{comment.nickname}}</span></td></tr>
                          <tr><td rowspan="5"><div ng-hide='commentArea(comment.cno)' id='commentarea{{comment.cno}}' class="comment-userContent">{{comment.content}}</div>
                          <div ng-show='updateArea(comment.cno)'><textarea ng-model='rewriteComment' class='commentInputArea'>{{comment.content}}</textarea>
                          <button ng-click='updateCmt($index,comment.cno,comment.fno,rewriteComment)' class='comment-updatebtn'>등록</button><button ng-click='cancelBtn($index,comment.cno)' class='comment-updatebtn'>취소</button></div></td></tr>
                        </table>
-->
                                  
                                  
                                  
                    
