    <div id="map-canvas"></div>
    
    <div class="hiddenInfoWindow" hidden="true">
    <div id="iw-container">
      <div class="iw-title">나만의 장소 등록하기</div>
      <div class="iw-content">
        <form>
          <div class="iw-subTitle">
            <input type="txt" class="form-control" id="myMapTitle" placeholder="상호명">
          </div>
         <div class="iw-subTitle">
           <textarea class="form-control" rows="3" id="myMapContent" placeholder="이 장소에 대한 의견을 남겨주세요"></textarea>
         </div>
         <div class="iw-subTitle">
           <div class="form-group">
             <input type="file" id="myMapPhoto" >
           </div>
         </div>
         <div class="iw-subTitle">
           <button type="submit" class="btn btn-info btn-sm btn-block">   등록   </button>
         </div>
        </form>
      </div>
    </div>
    </div>
    
    
<script>
var myLoc = [37.497943, 127.027622];
var map;
var marker = [];
  
function initMap2() {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 16,
    center: {lat: myLoc[0], lng: myLoc[1]},
    disableDefaultUI: true, /* DEFAULT UI 사용*/
    panControl: false,
    zoomControl: false,
    scaleControl: false /* 척도 */
  });
  
var hiddenInfoWindow = $('.hiddenInfoWindow');
var myMarkInsert = hiddenInfoWindow[0].innerHTML;
  
  markMyLoc();
  map.addListener('click', function(e) {
    marker[0] = new google.maps.Marker({
      position: e.latLng,
      map: map,
      title:"카페베네"
    });
    
    var infowindow = new google.maps.InfoWindow({
      content: myMarkInsert,
      maxWidth: 450
    });

    google.maps.event.addListener(marker[0], 'click', function() {
      infowindow.open(map,marker[0]);
    });
    
    google.maps.event.addListener(map, 'click', function() {
      infowindow.close();
    });
    
    google.maps.event.addListener(infowindow, 'domready', function() {
      var iwOuter = $('.gm-style-iw');
      var iwBackground = iwOuter.prev();
      iwBackground.children(':nth-child(2)').css({'display' : 'none'});
      iwBackground.children(':nth-child(4)').css({'display' : 'none'});
      iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(72, 181, 233, 0.6) 0px 1px 6px', 'z-index' : '1'});
      var iwCloseBtn = iwOuter.next();
      iwCloseBtn.css({opacity: '1', right: '28px', top: '16px', border: '0px solid #48b5e9', 'border-radius': '4px'});
      iwCloseBtn.mouseout(function(){
        $(this).css({opacity: '1'});
      });
    });
  });

}
  
function markMyLoc () {
    var marker = new google.maps.Marker({
      position: {lat: myLoc[0], lng: myLoc[1]},
      map: map,
      icon: 'images/icons/myHome.png'
    });
    marker.addListener('click', function() {
        myWindow.open(map, marker);
      });
  }
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg8yCYeg20PYuZR6w_hjMzkmeYfK_F9E4&callback=initMap2" async defer>
</script>
