<!-- modal start -->
    <div id="boredModal" class="modal fade" onmousedown="return false">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <table class="boredTable">
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/soccer.png" id="bored1"></a></td>
              <td class="boredTable"><a href=""><img src="images/icons/basketball.png" id="bored2"></a></td>   
              <td class="boredTable"><a href=""><img src="images/icons/badminton.png" id="bored3"></a></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/coffee.png" id="bored4"></a></td>
              <td class="boredTable"><a href=""><img src="images/icons/beer.png" id="bored5"></a></td>   
              <td class="boredTable"><a href=""><img src="images/icons/meal.png" id="bored6"></a></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/cook.png" id="bored7"></a></td>
              <td class="boredTable"><a href=""><img src="images/icons/shopping.png" id="bored8"></a></td>   
              <td class="boredTable"><a href=""><img src="images/icons/etc.png" id="bored9"></a></td>
            </tr>
          </table>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    </div>
    <!-- /.modal -->

<script>
  
    $(document).on('click', '#bored1', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '축구해요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored2', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '농구해요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored3', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '배드민턴 쳐요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored4', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '커피한잔 해요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored5', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '맥주 한잔 해요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored6', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '요리 같이 만들어 먹어요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored7', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '같이 밥먹어요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    
    $(document).on('click', '#bored8', function() {
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '같이 장봐요',
            content: 'from boredModal',
            maxHeadCount: '00',
            meetTime: $('meetTime').val()
         },
        success: function(result){
           if (result.data == 'success') {
             alert('등록되었습니다');
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });    

</script>