<div id="boredModal" class="modal fade" onmousedown="return false">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header modal-header-bgcolor">
        <h5 class="modal-title">지금 친구와 하고 싶은 활동을 선택하세요</h5>
      </div>
        <div class="modal-body boredTable-body">
          <table class="boredTable">
            <tr>
              <td colspan="3">
              <div class="btn-group btn-bored-meettime" data-toggle="buttons">
                <label class="btn btn-custom btn-xs">
                  <input type="radio" name="options" id="after30m" class="boredTimeButton" value="30">30분 후</label>
                <label class="btn btn-custom btn-xs active">
                  <input type="radio" name="options" id="rightNow" class="boredTimeButton" value="0">지금</label>     
                <label class="btn btn-custom btn-xs">
                  <input type="radio" name="options" id="after60m" class="boredTimeButton" value="60">60분 후</label>
              </div>
              </td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/soccer.png" class="boredIcon" id="bored1"></a><div class="boredDesc">축구</div></td>
              <td class="boredTable"><a href=""><img src="images/icons/basketball.png" class="boredIcon" id="bored2"></a><div class="boredDesc">농구</div></td>   
              <td class="boredTable"><a href=""><img src="images/icons/bedminton.png" class="boredIcon" id="bored3"></a><div class="boredDesc">배드민턴</div></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/coffee.png" class="boredIcon" id="bored4"></a><div class="boredDesc">커피</div></td>
              <td class="boredTable"><a href=""><img src="images/icons/beer.png" class="boredIcon" id="bored5"></a><div class="boredDesc">맥주</div></td>   
              <td class="boredTable"><a href=""><img src="images/icons/meal.png" class="boredIcon" id="bored6"></a><div class="boredDesc">식사</div></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><a href=""><img src="images/icons/cooking.png" class="boredIcon" id="bored7"></a><div class="boredDesc">요리</div></td>
              <td class="boredTable"><a href=""><img src="images/icons/shopping.png" class="boredIcon" id="bored8"></a><div class="boredDesc">쇼핑</div></td>   
              <td class="boredTable"><a href=""><img src="images/icons/random.png" class="boredIcon" id="bored9"></a><div class="boredDesc">아무거나</div></td>
            </tr>
          </table>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    </div>


<script>
  var boredMeetTimeAppointment;
  var myRadioValue;
  
  var boredRightNow = new Date();                                         
  
  var boredAfter30m = new Date(boredRightNow);
  boredAfter30m.setMinutes(boredRightNow.getMinutes() + 30);
  
  var boredAfter60m = new Date(boredRightNow);
  boredAfter60m.setHours(boredRightNow.getHours() + 1);
  
  function radioValueCheck(radioValue) {
    if (radioValue == 0) {
      boredMeetTimeAppointment = boredRightNow; 
      console.log('boredRightNow');
    } else if (radioValue == 30) {
      boredMeetTimeAppointment = boredAfter30m; 
      console.log('boredAfter30m');
    } else if (radioValue == 60) {
      boredMeetTimeAppointment = boredAfter60m; 
      console.log('boredAfter60m');
    }
  }
  
    $(document).on('click', '#bored1', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]축구해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored2', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]농구해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored3', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]배드민턴 쳐요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored4', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]커피 한잔 해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored5', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]같이 맥주 한잔 해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored6', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]같이 밥 한끼 해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
  
    $(document).on('click', '#bored7', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]같이 요리 해먹어요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });

    $(document).on('click', '#bored8', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]같이 쇼핑 해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
    $(document).on('click', '#bored9', function() {
      radioValueCheck($('.active').find('.boredTimeButton').val());
      $.ajax('feed/insertUser.do',
        {
         method: 'POST',
         dataType: 'json',
         data: {
            mno: sessionStorage.getItem('mno'),
            category : '1',
            title: '[심심해]같이 암거나 해요',
            content: '심심해 버튼을 통해 생성된 글입니다.',
            maxHeadCount: '00',
            meetTime: boredMeetTimeAppointment
         },
        success: function(result){
           if (result.data == 'success') {
             $('#boredModal').modal('toggle');
             window.location.reload();
           }
        }
     });
    });
</script>