<!-- modal start -->
    <div id="boredModal" class="modal fade">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <table class="boredTable">
            <tr class="boredTable">
              <td class="boredTable"><img src="images/icons/soccer.png"></td>
              <td class="boredTable"><img src="images/icons/basketball.png"></td>   
              <td class="boredTable"><img src="images/icons/badminton.png"></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><img src="images/icons/coffee.png"></td>
              <td class="boredTable"><img src="images/icons/beer.png"></td>   
              <td class="boredTable"><img src="images/icons/meal.png"></td>
            </tr>
            <tr class="boredTable">
              <td class="boredTable"><img src="images/icons/cook.png"></td>
              <td class="boredTable"><img src="images/icons/shopping.png"></td>   
              <td class="boredTable"><img src="images/icons/etc.png"></td>
            </tr>
          </table>
          
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    </div>
    <!-- /.modal -->
