<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg8yCYeg20PYuZR6w_hjMzkmeYfK_F9E4&libraries=places&callback=initAutocomplete" async defer></script>

<!-- modal start -->
<div id="infoModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">내 정보</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          
            <div class="profile-info-div2">
              <img id="profile-img" class='img-circle' src='{{infoCtrl.userDatas.profilePicture}}' />
              <div class="col-sm-10">
               <div class="btn btn-success fileinput-button" type="file" ngf-select="infoCtrl.uploadFiles($file)">
      <i class="glyphicon glyphicon-plus"></i>파일찾기</div>
            </div>
          </div>
          
          <div class="form-group info-div">
            <label>닉네임</label>
            <input class="form-control" value="{{infoCtrl.userDatas.nickname}}" id="nickname">
          </div>
          <div class="form-group info-div">
            <label>이름</label>
            <input class="form-control" value="{{infoCtrl.userDatas.name}}" id="name">
          </div>
          <div class="form-group info-div">
            <label>비밀번호</label>
            <input type="password" class="form-control" value="{{infoCtrl.userDatas.password}}" id="password">
          </div>
          <div class="form-group info-div">
            <label>이메일</label>
            <input class="form-control" readonly value="{{infoCtrl.userDatas.email}}" id="email">
          </div>
          <div class="form-group">
              <label>집 주소(주소 입력 후 핀 조정으로 상세하게 지도에 위치 설정을 해주세요)</label>
              <input id="pac-input" class="controls" type="text" value="{{infoCtrl.userDatas.address}}">
            <div>
              <div id="map"></div>
              </div>
              <div hidden="true">
                <input type="text" class="info-latitude" value="{{infoCtrl.userDatas.latitude}}">
                <input type="text" class="info-longitude" value="{{infoCtrl.userDatas.longitude}}">
              </div>
            </div>
          <div class="form-group">
            <label>내 소개</label>
            <input class="form-control" id="introduction" value="{{infoCtrl.userDatas.introduction}}">
          </div>
          <div class="form-group">
            <label>성별</label>
            <label class="radio-inline">
              <input type="radio" name="radioButton" id="r1" value="1" ng-model="infoCtrl.userDatas.sex">남자
            </label>
            <label class="radio-inline">
              <input type="radio" name="radioButton" id="r2" value="2" ng-model="infoCtrl.userDatas.sex">여자
            </label>
          </div>
          <div class="form-group">
            <label>나이</label>
            <input class="form-control" id="age" value="{{infoCtrl.userDatas.age}}">
          </div>
          <div class="form-group">
            <label>취미</label>
            <input class="form-control" id="hobby" value="{{infoCtrl.userDatas.hobby}}">
          </div>
          <div class="form-group">
            <label>고향</label>
            <input class="form-control" id="hometown" value="{{infoCtrl.userDatas.hometown}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="save-changes">수정하기</button>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>


<script>


function initAutocomplete() { /* 초기화 함수*/
  
  var myHome = [];
  var map;
  
  myHome[0] = parseFloat($('.info-latitude').val());
  myHome[1] = parseFloat($('.info-longitude').val());
  
  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: myHome[0], lng: myHome[1] },
    /* 처음 지도에서 비춰지는 지역 */
    zoom: 17,
    disableDefaultUI: true
  });
  
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  map.addListener('bounds_changed', function () {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  
  markers[0] = new google.maps.Marker({
    position: { lat: myHome[0], lng: myHome[1] },
    map: map,
    title: 'main_map'
  });
  
  searchBox.addListener('places_changed', function () {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    markers.forEach(function (marker) {
      marker.setMap(null);
    });
    markers = [];

    var bounds = new google.maps.LatLngBounds();
    
    places.forEach(function (place) {
      markers.push(new google.maps.Marker({
        map: map,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    
    map.fitBounds(bounds);
//    map.setZoom(1);
    
    $(".info-latitude").val(markers[0].position.H); /* 위도 경도 */
    $(".info-longitude").val(markers[0].position.L);
    console.log('markers[0].position.H: ' + markers[0].position.H);
    console.log('markers[0].position.L: ' + markers[0].position.L);

    google.maps.event.addListener(map, 'click', function (event) {
      addMarker(event.latLng, map); /* 마커 찍어주는 함수 */
      console.log(event.latLng);    
    });

    function addMarker(location, map) {
      markers[0].setPosition(location);
      markers[0].setPosition(location);
//      $(".info-latitude").val(markers[0].position.H); /* 위도 경도 */
//      $(".info-longitude").val(markers[0].position.L);
      $(".info-latitude").val(location.lat());
      $(".info-longitude").val(location.lng());
    }
  });
  
  $('#infoModal').on("shown.bs.modal", function () {
    resizeMap();
  });
  
  function resizeMap() {
    if(typeof map =="undefined") return;
    setTimeout( function(){resizingMap();} , 400);
  }
  
  function resizingMap() {
   if(typeof map =="undefined") return;
   var center = map.getCenter();
   google.maps.event.trigger(map, "resize");
   map.setCenter(center); 
  }
}
  
</script>


