<link rel='stylesheet' href="css/info-modal.css" />

<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/app/info-modal.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg8yCYeg20PYuZR6w_hjMzkmeYfK_F9E4&libraries=places&callback=initAutocomplete" async defer></script>

<!-- modal start -->
<div id="infoModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">내 정보</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>닉네임</label>
            <input class="form-control" value="{{infoCtrl.userDatas.nickname}}" id="nickname">
          </div>
          <div class="form-group">
            <label>이름</label>
            <input class="form-control" value="{{infoCtrl.userDatas.name}}" id="name">
          </div>
          <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control" value="{{infoCtrl.userDatas.password}}" id="password">
          </div>
          <div class="form-group">
            <label>이메일</label>
            <input class="form-control" readonly value="{{infoCtrl.userDatas.email}}" id="email">
          </div>
          <div class="form-group">
            <label>프로필사진</label>
            <input type="file">
          </div>
          <div class="form-group">
              <label>집 주소(주소 입력 후 핀 조정으로 상세하게 지도에 위치 설정을 해주세요)</label>
              <input id="pac-input" class="controls" type="text" placeholder="지역을 입력하세요">
              <div id="map"></div>
              <div>
                <input type="text" hidden="true" id="latitude">
                <input type="text" hidden="true" id="longitude">
              </div>
            </div>
          <div class="form-group">
            <label>내 소개</label>
            <textarea class="form-control" rows="3" id="introduction"></textarea>
          </div>
          <div class="form-group">
            <label>성별</label>
            <label class="radio-inline">
              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>남자
            </label>
            <label class="radio-inline">
              <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">여자
            </label>
          </div>
          <div class="form-group">
            <label>나이</label>
            <input class="form-control" id="age">
          </div>
          <div class="form-group">
            <label>취미</label>
            <br>
            <input class="form-control" id="hobby1">
            <input class="form-control" id="hobby2">
            <input class="form-control" id="hobby3">
          </div>
          <div class="form-group">
            <label>고향</label>
            <input class="form-control" id="hometown">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

    
