 <!-- modal start -->
      <div id="infoModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">내 정보</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label>닉네임</label>
                  <input class="form-control">
                </div>
                <div class="form-group">
                  <label>비밀번호</label>
                  <input class="form-control" placeholder="비밀번호">
                </div>
                <div class="form-group">
                  <label>이메일</label>
                  <input class="form-control" readonly value="thdansgur@gmail.com">
                </div>
                <div class="form-group">
                  <label>프로필사진</label>
                  <input type="file">
                </div>
                <div class="form-group">
                  <label>내 소개</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>성별</label>
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">남자
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">여자
                  </label>
                </div>
                <div class="form-group">
                  <label>나이</label>
                  <input class="form-control">
                </div>
                <div class="form-group">
                  <label>취미</label>
                  <input class="form-control">
                </div>
                <div class="form-group">
                  <label>고향</label>
                  <input class="form-control">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>