<div class="modal fade insertModal" id="layerpop">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- header -->
			<div class="modal-header">
				<!-- 닫기(x) 버튼 -->
				<button type="button" class="close" data-dismiss="modal">×</button>
				<!-- header title -->
				<h4 class="modal-title">새 활동 만들기</h4>
			</div>
			<!-- body -->
			<div class="modal-body">
			<div class="insert-modal-body">
				<select name="carlist" form="carform" class="insertCategory">
					<option value="1" class="Goodmeeting">모임</option>
					<option value="2" class="Gooddivide">나눔</option>
					<option value="3" class="Goodinvite">요청</option>
				</select>
				<form>
					<div class="form-group">
						<input class="form-control detail-form-control" id="title"
							placeholder="제목을 입력하세요(30자 내외)" maxlength="30" />
					</div>
				</form>
				<textarea id="content" placeholder="&nbsp; &nbsp;내용을 입력하세요" rows="5"
					style="resize: none;" class="insertContent"></textarea>
				<small class="text-muted"> <label>인원수</label> <input
					type="number" value="1" min="1" max="10" id="maxHeadCount">
					명
				</small> <small class="text-muted insert_meet"><label>날짜 및
						시간입력</label> <input id="meetTime" /> </small>
				<h5 class="insert-photo">밑에 공란에 사진을 드래그 하세요(최대 3장)</h5>
				</div>
				<div class="inputImgArea">
					<img src="images/default-img.png"
						ngf-drop="MCtrl.uploadFiles2($files,1)"
						class="drop-box" ngf-drag-over-class="dragover"
						ngf-multiple="true" ngf-pattern="'image/*,application/pdf'"
						id='piicture'> 
						<img src="images/default-img.png"
						ngf-drop="MCtrl.uploadFiles2($files,2)"
						class="drop-box" ngf-drag-over-class="dragover"
						ngf-multiple="true" ngf-pattern="'image/*,application/pdf'"
						id='piicture1'> 
						<img src="images/default-img.png"
						ngf-drop="MCtrl.uploadFiles2($files,3)"
						class="drop-box" ngf-drag-over-class="dragover"
						ngf-multiple="true" ngf-pattern="'image/*,application/pdf'"
						id='piicture2'>
				</div>
				<!-- Footer -->
				<div class="modal-footer">
					<button type="button" id="create-newAct" class="btn btn-custom"
						ng-click="btnClick()">새 활동 만들기</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>

            </div>
         </div>
      </div>
   </div>
</div>
 

