/*채팅 패널*/

.chat-panel {
/*
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 300px;
*/
/*  display: none;*/
}

.chat-panel a {
  text-decoration: none;
}

.panel1{
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 300px;
   display:none;
}


.panel2{
  position: fixed;
  bottom: 1px;
  right: 320px;
  width: 300px;
  display:none;
}


.panel3{
  position: fixed;
  bottom: 1px;
  right: 630px;
  width: 300px;
  display:none;
}
.chat-body {
  width: 300px;
  height: 360px;
  padding:5px;
  margin-bottom: 1px;
  background-color: white;
}

.chat-body input {
  width: 210px;
  height: 38px;
  background-color: aliceblue;
}
.chat-body button {
  width: 65px;
  height: 38px;
  margin-left:6px;
  background: rgb(130, 224, 255);
  border: none;
}
#messages1 {
  width: 300px;
  height: 100%;
}
#messages2 {
  width: 300px;
  height: 100%;
}
#messages3 {
  width: 100%;
  height: 100%;
}
