/*채팅 패널*/

.chat-panel {
/*
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 300px;
*/
/*  display: none;*/
}

.chat-panel a {
  text-decoration: none;
}

.panel1{
  position: fixed;
  bottom: 1px;
  right: 10px;
  width: 301px;
   display:none;
}


.panel2{
  position: fixed;
  bottom: 1px;
  right: 320px;
  width: 301px;
  display:none;
}


.panel3{
  position: fixed;
  bottom: 1px;
  right: 630px;
  width: 301px;
  display:none;
}
.chat-body {
  width: 298px;
  height: 360px;
  padding:5px;
  margin-bottom: 1px;
  background-color: white;
}

.chat-body input {
	margin:0;
  width: 230px;
  height: 38px;
  margin-left:-3px;
}
.chat-body button {
  width: 60px;
  height: 35px;
  margin-left:3px;
  background-color: #48b5e9;
  border: none;
}
#messages1 {
  width: 298px;
  height: 100%;
   word-break:keep-all; word-wrap:break-word
}
#messages2 {
  width: 298px;
  height: 100%;
   word-break:keep-all; word-wrap:break-word
}
#messages3 {
  width: 298px;
  height: 100%;
   word-break:keep-all; word-wrap:break-word
}
.chat-panel-head {
  background-color: #48b5e9;
  color: white;
}
.yourDiv {
	float:left;
  width: 250px;
  margin: 2px 2px 0px 2px;
   word-break:keep-all; word-wrap:break-word
  
}
.yourImg {
	float:left;
}

.yourMsg {
	float:left;
	width:150px;
	background-color: rgba(173, 199, 254, 0.6);
	margin: 2px 2px 2px 4px;
	border-radius: 5px;
	padding:10px;
	 word-break:keep-all; word-wrap:break-word
	white-space:normal;
}
.yourMsg:after {
	float:none;
}
.myMsg {
	float:right;
	width: 180px;
	background-color: rgba(206, 252, 252,0.8);
	margin: 2px 5px 2px 2px;
	padding: 10px;
	border-radius: 5px;
	text-align:right;
	 word-break:keep-all; word-wrap:break-word
	white-space:normal;
	
}
.myMsg:after {
	float:none;
}
