#map {
  height: 300px;
  width: 560px;
}
.controls { /* 검색 창 */
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input { /* 검색 창 및 안의 폰트 */
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus { /* 검색창 포커스 */
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.profile-info-div2 {
  position: absolute;
  float: left;
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.profile-info-span2 {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
  
}
.info-div {
  position:static;
  float: right;
  width: 400px;
  left: 500px;
}
#profile-img {
  width:150px;
  height:150px;
}

.basic-info-div {
  float: right;
  width:400px;
  height: 250px;
  margin-top: -13px;
  margin-right: 10px;
  
}

.basic-info-div label {
  float: left;
  display: inline-block;
  margin-top:2px;
  margin-bottom: 0px;
}

.basic-info-div:after {
  float:none;
}
.signup-input {
  display:inline-block;
  width: 400px;
  
}


#hobby {
  display: inline-block;
  width:100px;
  margin-right:5px;
}
#age {
  display: inline-block;
  width:100px;
  margin-right:5px;
}
#hometown {
  display: inline-block;
  width:100px;
  margin-right:5px;
}
#map-canvas img {
    max-width: none !important;
}
