* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
/*background-color: #3498DB;*/
  background-image: url('../images/loginbg.jpg');
  background-size: cover;
padding: 50px;
}
.login {
margin: 10% auto;
width: 400px;
height: 400px;
}
.login-screen {
background-color: rgba(255, 255, 255, 0.6);
padding: 20px;
border-radius: 5px;
width: 400px;
height: 400px;
}


.app-title {
text-align: center;
color: #696969;
}

.login-form {
text-align: center;
}


.control-group {
margin-bottom: 10px;
  
}

#input-group {
  margin-top: 30px;
  
}

input {
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0 10px 10px;
width: 250px;
-webkit-transition: border .5s;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}


#login-btn-group {
  margin-top:10px;
}
.btn-login {
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: block;
  width: 230px;
  height: 48px;
  margin: 0 auto;
}
.btn-login:hover {
  background-color: #2980B9;
  text-decoration: none;
  border: none;
  font-size: 19px;


}


.btn-signup {
  background: rgba(176,224,230,0.8);
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: block;
  width: 230px;
  height: 48px;
  margin: 0 auto;
}
.btn-signup:hover {
  background: rgba(230, 230, 250,0.9);
/*  background-color: #e6e6fa;*/
  border: none;
  text-decoration: none;
  font-size: 20px;


}


/* 지도 관련*/
/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/
#map {
  height: 300px;
  width: 560px;
}
.controls { /* 검색 창 */
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input { /* 검색 창 및 안의 폰트 */
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus { /* 검색창 포커스 */
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
