.map-friend-panel{
  background-color: #48b5e9;
  color: white;
}
#mainMap {
  width: 100%;
  height: 600px;
}

#finder-box {
  border: 0px solid black;
  top: 80px;
  position: absolute;
  width: 140px;
  padding: 10px;
  overflow: hidden;
}
/*반경 설정해주는 버튼 500m, 1km, 2km*/
.radius-control { 
  width: 110%;
  left: 10px;
  top: 20px;
}
/*모두, 남자, 여자 버튼*/
.radius-control1 {
  width: 40px;      
}
/*나이, 취미, 고향 버튼*/
.radius-control2 {
  width: 40px;
}
/*버튼 색깔 눌렸을 때 바꿔줌*/
.btn-group .active {
  background-color: #2296C1;  
  color: #FFF;
}
/*finderBox 끝*/

/*친구 추천 박스 */
#friend-box {
  position: absolute;
  height: 500px;
/*  width: 24%;*/
  width: 250px;
/*  min-width: 250px;*/
/*  max-width: 350px;*/
  right: 15px;
  border-radius: 0.6em;
  background-color: rgba(255, 255, 255, 0.93);
  box-shadow: 2px 2px 15px grey;
  top: 125px;
  table-layout: fixed;
  overflow: hidden;
  overflow-x: hidden;
}
.panel-body-for-scroll {
  position: relative;
  width: 300px;
  height: 460px;
  border: 0px solid black;
  overflow: hidden;
}
.panel-body-for-scroll > .panel-body{
  padding: 7px;
}
.panel-member {
   height: 423px;   
   width: 400px;
   overflow-y: scroll
}
.viewport-on-mainMap > .panel {
    border: 0px solid transparent;
}
/*친구 추천 박스의 친구 추가 버튼*/
.addfriend-btn {
  position: relative;
  float: right;
  right: 38%;
}
.addfriend-btn-adding.nohover {
  background-color: #229611;  
}
.addfriend-btn-adding.nohover:hover {
  cursor: default !important;
}
.addfriend-btn-adding {
  cursor: default !important;
  margin-top: -5px;
}
.panel-friend-title {
  text-align: center;
}
.myPanel {
  padding:  0px;
  margin: 3px 0 0 0;
  
}
.myPanel-head {
  background-color: rgba(179, 210, 249, 0.79);
  /* color: rgba(227, 55, 11, 0.79); */
  color:white;
  font-weight:bold;
  border: 1px solid #5bc0de;
  
}
.match-friendimg {
  float: left;
  width: 60px;
  height: 60px;
  max-height: 60px;
  max-width: 60px;
  padding: 5px;
}
.match-heading {
  width: 235px;
  font-size: 1.0rem;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  padding: 1px;
}
.panel-member-desc {
  font-size: 0.95rem;
  padding: 5px;
}
.panel-member-name {
  color: #47BEE8;
  overflow:hidden;
}
.panel-member-append{
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  padding: 2px;
}
.panel-member-same{
  font-size: 0.80rem;
  font-weight: 400;
  color: black;
  padding: 2px;
}
.panel-icon-align {
  vertical-align: text-bottom;
}
.myPanel-none {
    font-size: 1rem;
    color: darkgray;
    text-align: center;
    margin-top: 118px;
    float: left;
    position: absolute;
    left: 12%;
    margin-left: 1%;
    margin-right: 24%;
}
/*friendBox 끝*/

/* mainMap에서 infoWindow */
.gm-style-iw {
    width: 220px !important; /* 건들면 화면 깨짐!!*/
    top: 15px !important; /* 건들면 화면 깨짐!! */
    left: 25px !important; /* 건들면 화면 깨짐 */
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(78, 78, 78, 0.7);
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 10px 10px 10px 10px;
}
#iw-container {
    width: 220px ;
} 
#iw-container .iw-title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px;
    background-color: #48b5e9;
    color: white;
    margin: 0px;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    max-height: 400px; /* 창 전체 맥스 길이*/
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-subTitle {
  font-size: 16px;
  padding: 0px 0;
}
.iw-subTitle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.iw-subTitle2 {
  font-size: 0.85em;
  text-align: center;
/*  margin: auto;*/
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.iw-img {
  width: 120px;
  height: 120px;
  max-height: 120px;
  max-width: 120px;
}
/*친구추가, 요청중, 수락하기 버튼*/
.addfriend-btn-block  {
  text-align: center;
  width: 200px;
  height: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
}
.iw-desc{
  text-align: left;
  font-weight: 500;
  font-size: 1em;
  padding: 2px;
}
.iw-myTable {
  width: 100%;
}
.iw-desc-img {
  vertical-align: text-bottom;
}
/* infowindow 끝*/


/*친구 수락시 뜨는 모달*/
.addfriend-modal-img {
  width: 110px;
  height: 110px;
  max-height: 110px;
  max-width: 110px;
  margin: auto;
  display: block;
}
.addfriend-modal-body img{
  margin: auto;
  display: block;
}
.modal-header-bgcolor {
  background-color: #0DB0F3;
  color: white;
  font-weight: 400;
  border-radius: 0.3em 0.3em 0em 0em;
}