/*
.hide-scroll-on-mainMap {
    overflow: hidden;
}
*/

/*.viewport-on-mainMap {*/
/*    overflow: auto;*/

    /* Make sure the inner div is not larger than the container
     * so that we have room to scroll.
     */
/*    max-height: 100%;*/

    /* Pick an arbitrary margin/padding that should be bigger
     * than the max width of all the scroll bars across
     * the devices you are targeting.
     * padding = -margin
     */
/*    margin-right: -100px;*/
/*    padding-right: 100px;*/
/*}*/

#mainMap {
  width: 100%;
  height: 600px;
}
#finder-box {
  border: 0px solid black;
  top: 80px;
  position: absolute;
/*  height: 3%;*/
  width: 140px;
  padding: 10px;
}

.radius-control {
/*  position: absolute;*/
/*  width: 120px;*/
  width: 100%;
  left: 10px;
  top: 20px;
}
.radius-control1 {
  width: 40px;      
}
.radius-control2 {
  width: 40px;
}
.btn-group .active {
  background-color: #2296C1;  
  color: #FFF;
}

#friend-box {
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 0.6em;
  box-shadow: 2px 2px 15px grey;
  top: 100px;
  height: 500px;
  width: 300px;
/*  padding: 10px;*/
  position: absolute;
  right: 15px;
  table-layout: fixed;
  overflow: scroll;
  overflow-x: hidden;
}
#friend-table {
/*  margin: 10px;*/
}
.addfriend-btn {
  position: absolute;
  float: right;
  right: 23px;
}
.addfriend-btn-adding.nohover:hover {
  cursor: default !important;
}
.addfriend-btn-adding {
  cursor: default !important;
}
.panel-friend-title {
  text-align: center;
}

.myPanel {
  padding:  0px;
  margin: 5px;
}
.editorial-moim-container{
  width:35%;
  margin-left:60%;
}

.friendBalloon {
  border : 0px;
}
.photo-in-Ballon {
  text-align: center;
}
.match-friendimg {
  float: left;
  width: 60px;
  height: 60px;
  max-height: 60px;
  max-width: 60px;
  padding: 5px;
}
.match-heading {
  font-size: 1.0em;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  padding: 1px;
}
.panel-member-desc {
  font-size: 0.85em;
  padding: 5px;
}

/* mainMap에서 infoWindow */
.gm-style-iw {
    width: 200px !important; /* 건들면 화면 깨짐!!*/
    top: 15px !important; /* 건들면 화면 깨짐!! */
    left: 25px !important; /* 건들면 화면 깨짐 */
    background-color: #fff;
    box-shadow: 12px 15px 10px rgba(78, 78, 78, 0.7);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px 10px 10px 10px;
}
#iw-container {
    width: 200px ;
} 
#iw-container .iw-title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 3px;
    background-color: #48b5e9;
    color: white;
    margin: 0px;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    max-height: 400px; /* 창 전체 맥스 길이*/
    overflow-y: auto;
    overflow-x: hidden;
}
/*
.iw-content img {
    float: ;  사진 위치 조정 
    margin: 10px 0px 10px 0px; 
}
*/
.iw-subTitle {
  font-size: 16px;
  padding: 0px 0;
}
.iw-subTitle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.iw-subTitle2 {
  font-size: 0.85em;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.iw-img {
  width: 80px;
  height: 80px;
  max-height: 80px;
  max-width: 80px;
}
textarea {
  resize: none;
}
.addfriend-btn-block  {
  text-align: center;
  width: 178px;
}


/*
.addfriend-modal-title {
  text-align: center;
}
*/
.addfriend-modal-img {
  width: 120px;
  height: 120px;
  max-height: 120px;
  max-width: 120px;
  margin: auto;
  display: block;
/*
  margin-left: auto;
  margin-right: auto;
*/
}
.addfriend-modal-body img{
  margin: auto;
  display: block;
}