.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
#tallModal .modal-body p { margin-bottom: 900px }

.modal-title {
  text-align: center;
}

#infoModal {
  margin-top:2%;
}

#signupModal {
  margin-top:1%;
}

#detailModal {
  margin-top: 20%;
}

#addfriendModal{
  margin-top: 15%;
}

/*boredModal 관련*/
#boredModal {
  margin-top: 15%;
}
.boredTable {
  border: 0px solid #4FB8D9;
/*  background: #4FB8D9;*/
  padding: 7px;
}

.detailModal-head {
  background-color: #48b5e9;
  color: white;
}
.boredIcon {
/*  width: 32px;*/
/*  height: 32px;*/
  text-align: center;
  padding: 5px;
/*  max-width: 110%;*/
/*  max-height: 65%;*/
}
.boredDesc {
  font-size: 1em;
  padding: 5px;
}
.boredTable-body {
  text-align: center;
}
.modal-header.modal-header-bgcolor {
  background-color: #21A7E5;
  font: 1.2em;
  color: white;
  border-radius: 5px 5px 0px 0px;
}