.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
#tallModal .modal-body p { margin-bottom: 900px }

.modal-title {
  text-align: center;
}

#infoModal {
  margin-top:2%;
}

#signupModal {
  margin-top:1%;
}



