.modal.modal-wide .modal-dialog {
  width: 100%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
#tallModal .modal-body p { margin-bottom: 900px }

.modal-title {
  text-align: center;
}

#signupModal {
  margin-top:1%;
}

.detailModal-head {
  background-color: #48b5e9;
  color: white;
  border-radius: 7px 7px 0px 0px;
}
#detailModal {
  margin-top: 10%;
}
/*==== detailModal 관련 시작 ====*/
.detailModal-content {
	width: 700px;
}
.detail-modal-body {
	padding: 27px 0px 0px 0px;
	margin:0;
}
.detail-user-info {
	padding: 3%;
	height: 200px;
}
.detail-info-wrap {
	margin:0;
	width: 100%;
}
.detail-detail {
	float: right;
}
.detail-content {
	background-color: #F2F4F5;
	width: 100%;
	height: 130px;
	padding: 10px;
  overflow: auto;
}
.detail-btn {
	position: static;
	float: right;
}
.detail-images{
	padding: 1% 3%;
}
.dtail-default-img1 {
	position: static;
	/*  float: left;*/
	padding: 5px;
	margin-left: auto;
}
.dtail-default-img2 {
	position: static;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}
.dtail-default-img3 {
	position: static;
	/*  float: right;*/
	padding: 5px;
	/*  padding-right: 18px;*/
	margin-right: auto;
}
.detail-title {
	vertical-align: text-top;
}
.detail-header-1 {
	height: 45px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #009AF3;
	color: white;
}
.detail-header-2 {
	height: 45px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #00C6DB;
	color: white;
}
.detail-header-3 {
	height: 45px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #00DCA4;
	color: white;
}

.detail-nick{
  margin-left: 6%;
}
.detailImg {
	width: 50px;
	height: 50px;
	padding-bottom: 5px;
}
#detail-mTime{
   margin-right: 3%;
}
#detail-headCnt{
   margin-right: 3%;
}
#detail-profilePicture{
	width: 90%;
	height: 90%;
  margin-top: 5%;
}
.detail-user-name{
	width: 100%;
  margin-top: 10%;
  font-size: 90%;
  overflow: hidden;
  color: #48b5e9;
  text-align: center;
}

.checkAuthority{
	float: right;
	padding: 0px;
}
.commentTable {
	text-align: left;
	width: 100%;
}
.comment-user-name{
	font-sizd: 80%;
	color:#48b5e9;
}
.comment_content{
   font-size: 80%;
}
.commentBtn{
   font-size: 75%;
}
.comment-insert {
	margin:10px 0px 0px 0px;
  font-size: 70%;
  height: 50px;
  width: 100%;
   
}

.comment-insrtbtn{
	margin:5px 5px 0px 0px;
  background-color: #48b5e9;
  color: white;
  width: 100%;
  height: 50px;
}



.comment-screen {
	margin-top:2px;
	margin-bottom:2px;
	padding: 0% 2% ;
}

.commentFeed {
	margin-top:2px;
	margin-bottom:1px;
	margin-left: 2px;
	border-bottom: 1px solid rgb(243, 241, 241);
	width: 100%;
}

.comment-updatebtn {
	height: 20px;
}

.commentInputArea {
	width: 470px;
}

.feed_Dday{
   margin-left: 5%;
}
.feed_Count{
   margin-left: 5%;
}
.nfeed_Dday{
   margin-left: 5%;
}
.nfeed_Count{
   margin-left: 5%;
}
.detail_photo{
  width: 40px;
  height: 40px;
  margin-bottom: 3%;
}
.detail_man_woman{
  margin-top: 5%;
}

/*==== detailModal 관련 끝 ====*/

#addfriendModal{
  margin-top: 15%;
}

/*|||||| untouchButtonModal 관련 시작||||||*/
#untouchButtonModal {
  margin-top: 15%;
}
.untouch-modal-body {
  text-align: center;
  font-size: 1.1rem;
}
/*|||||| untouchButtonModal 관련 끝||||||*/

/*|||||| boredModal 관련 시작||||||*/
#boredModal {
  margin-top: 15%;
}
.boredTable {
  border: 0px solid #4FB8D9;
/*  background: #4FB8D9;*/
  padding: 7px;
}
.btn-bored-meettime .active {
  background-color: #378FC2;  
  color: #FFF;
}
.boredIcon {
/*  width: 32px;*/
/*  height: 32px;*/
  text-align: center;
  padding: 5px;
/*  max-width: 110%;*/
/*  max-height: 65%;*/
}
.boredDesc {
  font-size: 1em;
  padding: 5px;
}
.boredTable-body {
  text-align: center;
}
.modal-header.modal-header-bgcolor {
  background-color: #21A7E5;
  font: 1.2em;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.btn-bored-meettime {
  margin: auto;
/*  width: 200px;*/
}
/*|||||| boredModal 관련 끝||||||*/