 @CHARSET "UTF-8";
   .myActList{
	
	float : left;
	width : 33%;
	}
	 
	.act-feed-content {
	display:inline-block;
	text-align : left;
	background-color: #E8E8E8;	
    border-radius : 8px;
    margin-top : 1%;
    height: 98%;
    width: 99%;
	}
		
	.moim-section {
	 width :90%;
	 height : 90%;
	 margin : 5%;
	 padding-top: 3%;
	}
	.moin-hide-section{
	padding-bottom : 3%;
	}

	.moim-profile-img {
		border-radius : 50%;
		width :100%;
		max-width : 150px;
	}
	
	.moim-title-font {
	 font-size: 2rem;
	}
	
	    
	    
	.nanum-section {
	 width :96%;
	 height : 90%;
	 margin : 5% 2% 5% 2%;
	 padding-top: 3%;
	} 