@CHARSET "UTF-8";
 .myactfeed {
} 

.myprofile{
margin-top: 10%;
margin-left: 10%;
border-radius: 70%;
width: 65px;
height: 65px;
}
/*
.my_act_title{
margin-left: 20%;
margin-top: 10%;
margin-bottom: 15%;
}
.myact_participant{
width: 20%;
height: 20%;
margin-left: 3%;
}
.myact_content{
margin-left: 2%;
margin-top: 5%;
}
.myact_ad_photo{
margin-left: 5%;
max-height: 80px;
max-width: 110px;
width: 95%;
height: 95%;
}
.my_act_meet_day{
margin-top: 5%;
}
.my_act_make_day{
margin-top: 5%;
}
 */