#map-canvas {
    margin: 0;
    padding: 0;
    height: 600px;
/*    height: 90%;*/
/*    width: 100%;*/
    max-width: none;
}
#map-canvas img {
    max-width: none !important;
}
.gm-style-iw {
    width: 250px !important; /* 건들면 화면 깨짐!! 기본값 350 */
    top: 15px !important; /* 건들면 화면 깨짐!! */
    left: 25px !important; /* 건들면 화면 깨짐 */
    background-color: #fff;
    box-shadow: 12px 15px 10px rgba(178, 178, 178, 0.9);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px 10px 10px 10px;
}
#iw-container {
    margin-bottom: 0px;
    width: 250px ;
} 
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0px;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 0px;
    padding: 10px 10px 0px 10px;
    max-height: 600px; /* 창 전체 맥스 길이*/
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: ; /* 사진 위치 조정 */
    margin: 10px 0px 10px 0px; 
}
.iw-subTitle {
    font-size: 16px;
    padding: 5px 0;
}
